@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  line-height: 1.6;
}

* {
  font-family: 'Inter', sans-serif;
}


.caret-primary {
  caret-color: #21BF73;
}

.sign-holder {
  background-image: url('/assets/image/sign-bg-top.png'), url('/assets/image/sign-bg-bottom.png');
  background-position: left top, left bottom;
}

/* radiobutton */
[type='radio'] {
  border: 1.5px solid #D0D8DF;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
}

[type='radio']:checked:hover,
[type='radio']:checked:focus {
  background-color: transparent;
  border: 1.5px solid #21BF73;
}

[type='radio']:focus {
  box-shadow: none;
  background-color: transparent;
}

[type='radio']:checked {
  background-image: none;
  border: 1.5px solid #21BF73;
  background-color: transparent;
}

[type='radio']:after {
  content: '';
  background-color: #21BF73;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
}

[type='radio']:checked:after {
  display: block;
}

.required:after {
  content: " *";
  color: red;
}

.hide-select-arrow::-ms-expand {
  display: none;
}

@layer components {
  .btn-danger {
    @apply px-[14px] py-[8px] text-white bg-primary-red transition-colors duration-200 transform hover:bg-hover-primary-red focus:outline-none focus:ring focus:ring-[#fd626260];
  }

  .btn-primary {
    @apply px-4 py-2 text-white bg-primary-green transition-colors duration-200 transform hover:bg-hover-primary-green focus:outline-none focus:ring focus:ring-[#3af0986e];
  }

  .btn-gray-stroke {
    @apply px-4 py-2 text-primary-light-gray border-[2px] border-primary-light-gray bg-transparent transition-colors duration-200 transform hover:bg-primary-light-gray focus:bg-primary-light-gray hover:text-white focus:text-white focus:outline-none focus:ring focus:ring-[#5b758e71];
  }

  .btn-light-danger {
    @apply capitalize rounded-lg m-1 px-4 py-2 text-[#FF5555] bg-[#FFEEEA] transition-colors duration-200 transform hover:bg-[#ffded6];

  }

  .btn-light-gray {
    @apply capitalize rounded-lg m-1 px-4 py-2 text-secondary-dark bg-[#F1F4F8] transition-colors duration-200 transform hover:bg-[#d8e5f7];
  }

  .btn-light-active {
    @apply capitalize rounded-lg m-1 px-4 py-2 text-white bg-[#ffffff33] transition-colors duration-200 transform hover:bg-[#ffffff85];
  }

  .select-primary {
    @apply relative min-w-[168px] h-10 text-primary-gray w-max bg-white rounded-md shadow-[0px_1px_3px_#2e4e6f14] overflow-hidden;
  }

  .select-primary>select {
    @apply bg-white appearance-none w-full h-full px-[10px] py-2 outline-1 outline-[#cccccc] capitalize border-0;

  }

  .select-primary>img {
    @apply absolute right-2 top-[50%] translate-y-[-50%];
  }
}